<% content_for(:html_title) { 'Quotes' } %>

<div class="row">
  <% if !(@quotes.empty?) %>
    <%= render 'partials/card_listings', listings: @quotes %>
  <% else %>
    <p>You don't have any quotes yet.</p>
  <% end %>
</div>
