<% content_for(:html_title) { 'Edit My Profile' } %>

<%= render 'form', profile: @profile, user_type: @user_type, suburbs: @suburbs %>

<div class="row justify-content-center">
  <div class="col-5">
    <%= link_to 'Show', @profile %> |
    <%= link_to 'Back', profiles_path %>
  </div>
</div>
