<% content_for(:html_title) { 'My Listings' } %>

<div class="row text-center mb-5">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row text-center mb-5">
  <div class="col-12">
    <% if current_user && @profile.user_type == "pro" %>
      <%= link_to 'New Listing', new_listing_path, class: "btn btn-submit" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if !(@listings.empty?) %>
    <%= render 'partials/card_listings', listings: @listings %>
  <% else %>
    <p>You don't have any listings yet.</p>
  <% end %>
</div>

<div class="row text-center mt-2">
  <div class="col-12">
    <% if current_user && @profile.user_type == "pro" %>
      <%= link_to 'New Listing', new_listing_path, class: "btn btn-submit" %>
    <% end %>
  </div>
</div>
