<% content_for(:html_title) { 'Jobs' } %>

<div class="row">
  <% if !(@jobs.empty?) %>
    <%= render 'partials/card_listings', listings: @jobs %>
  <% else %>
    <div class="col-md-8">
      <p>You don't have any jobs yet.</p>
    </div>
  <% end %>
</div>
