<div class="col-md-12 mt-4">
  <p class="mb-0 suburb-instruction">Enter at least <b>4 letters</b> of the suburb name or <b>4 digit</b> postcode, and select available option from the autocomplete.</p>
</div>