<% content_for(:html_title) { 'Feature Coming Soon' } %>

<div class="row justify-content-center">
  <div class="col-8">
    <h2>This feature is coming soon!</h2>
    <p class="mt-5">Thank you for your support! Please look forward to this new coming feature!</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8 mt-5">
    <%= link_to "Return to Homepage", root_path, class: "btn btn-outline" %>
  </div>
</div>