<% content_for(:html_title) { 'Pro Cleaner Finder' } %>

<div class="row">
  <% if !(@listings.empty?) %>
    <%= render 'partials/card_listings', listings: @listings %>
  <% else %>
    <p>No listing available yet.</p>
  <% end %>
</div>
