<% content_for(:html_title) { 'Search Results' } %>

<div class="row">
  <% if !(@listings.empty?) %>
    <%= render 'partials/card_listings', listings: @listings %>
  <% else %>
      <p>Not found. Enter other suburbs/postcodes, e.g., Melbourne/3000.</p>
  <% end %>
</div>
