// COLOURS
$main-color: #ffdbd8;
$main-light-color: #ffe4e2;
$accent-color: #f6e2c2;
$accent-light-color: #fff3e0;
$alt-bg-color: #f5f5f5;
$black-color: #212529;
$grey-color: #474747;
$red-color: #f24052;
$green-color: #46b94f;

// PADDINGS

// MARGINS