/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "partials/variables";

body {
  overflow-x: hidden;
}

/* Typography */
a {
  color: $dark-grey-color;

  &:hover {
    color: #000;
  }
}

h2 {
  &.form-heading {
    font-size: 1.4em;
    color: $black-color;
    margin: 3em 0 1em;
  }

  &.name-title {
    margin-top: 0;
  }
}

/* Content */
header {
background-image: asset-url("hero-banner.jpg");
background-color: $black-color;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;
  nav {
    background-color: $main-color;
    height: 3em;
    z-index: 9999;

    .nav-link {
      font-weight: 700;
      color: $black-color;

      &:hover {
        background-color: rgba(255, 255, 255, .1);
        color: #000;
      }
    }

    a.logo {
      font-size: 150%;
      @extend .nav-link
    }
  }

  .container {
    h1 {
      color: #fff;
      z-index: 1;
    }
  }

  .d-flex {
    min-height: 7em;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 3em;
    left: 0;
    background-color: $black-color;
    opacity: .7;
    height: 7em;
  }

  &.hero-banner {
    .d-flex {
      min-height: 50vh;
    }

    p {
      color: #fff;
      font-size: 120%;
      z-index: 1;
    }

    .form-control {
      border: none;
    }

    &::before{
      height: 50vh;
    }
  }
}

.nav-link:hover, header nav a.logo:hover, .cta-banner nav a.logo:hover, .nav-link:focus, header nav a.logo:focus, .cta-banner nav a.logo:focus {
  color: #000;
}

// Hamburger Menu
.menu-icon {
  display: none;
}

input.menu-btn { display: none; }

// Navigation Links
ul.menu {
  background-color: $main-color;
  margin-top: 0;
  clear: none;
  float: right;
  max-height: none;

  li {
      float: left;

      &:nth-child(1) {
          padding-top: 0px;
      }
      &:nth-child(5) {
          padding-bottom: 0px;
      }

      a {
          font-size: 1.15em;
          background-color: $main-color;
          color: $black-color;
          transition: background-color .2s ease-out, color .2s ease-out;

          &:hover {
            color: #000;
            background-color: rgba(255, 255, 255, .1);
            transition: background-color .2s ease-out, color .2s ease-out;
          }
      }
  }
}

.home-search-bar {
  text-align: left;
  z-index: 1;

  .row {
    max-width: 400px;
    margin: auto;
  }
}

main {
  min-height: 75vh;
  padding: $start-end-space 0;
}

/* Forms */
.form-control, .btn, .form-check-input[type="checkbox"], select, input[type="date"], textarea {
  border-radius: 0;

  &:focus {
    border-color: $main-color;
    outline: $main-color;
    box-shadow: 0 0 0 0.1em $main-color;
  }
}

label {
  margin-top: .75rem;
  margin-bottom: .25em;
}

select, input[type="date"], textarea {
  width: 100%;
  height: 2.4em;
  border: 1px solid #ced4da;
}

textarea {
  width: 100%;
  height: 20vh;
}

.form-check label {
  margin-top: 0;
  margin-left: .5em;
}

label.form-check-label {
  margin-top: .7em;
}

label.collection_radio_buttons {
  margin-top: 0;
}

.form-check-input[type="checkbox"] {
  margin-top: 1em;
}

.form-check-input[type="radio"] {
  margin-left: 0;
}

.form-check-input {
  &:checked {
    background-color: $main-color;
    border-color: $main-color;
  }

  &:focus {
    box-shadow: 0 0 0 0.1em $main-color;
  }
}

.form-actions {
  margin-top: 3em;
}

.btn {
  text-transform: uppercase;
  font-weight: 900;
}

.btn-submit, .btn-outline {
  color: $black-color;
  background-color: $main-color;
}

.btn-outline {
  background-color: transparent;
  border: 3px solid $black-color;

  &:hover {
    color: $main-color;
    background-color: $black-color;
  }
}

/* Cards */
.card {
  border: none;
  margin-bottom: $start-end-space;

  .card-img, .card-img-top, .card-img-bottom {
    max-height: 250px;
  }

  .card-title {
    font-weight: 700;
    margin: 1em 0 .5em;
  }

  .price {
    font-weight: 600;
    font-size: 1.1em;
    color: $dark-grey-color;
  }
}

/* CTA Banner */
.cta-banner {
  p {
    color: #fff;
    font-size: 1.5em;
    z-index: 1;

    &:first-child {
      margin-top: 3em;
    }

    &:last-child {
      margin-bottom: 3em;
    }
  }

  @extend header
}

.cta-banner::before {
  top: auto;
  opacity: .5;
  min-height: 40vh;
}

footer {
background-color: $black-color;
padding: $start-end-space;

  .cpyrght {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

// MEDIA QUERIES
// < 992px
@media (max-width: 992px) {
  .navbar {
  padding-top: 0;
  padding-bottom: 0;
  }

  .navbar-toggler { display: none; }

  // Hamburger Menu
  .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 0 18px;
    margin-top: 0;
    position: relative;
    user-select: none;

    .navicon {
      background: $black-color;
      display: block;
      height: 3px;
      position: relative;
      transition: background .2s ease-out 0s;
      width: 24px;

      &::before,
      &::after {
        background: $black-color;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out 0s;
        width: 100%;
      }
      &::before {
        top: 7px;
      }
      &::after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ {
        .menu {
            max-height: 600px;
        }
        .menu-icon {
            .navicon {
                background: transparent;
                &::before {
                    transform: rotate(-45deg);
                }
                &::after {
                    transform: rotate(45deg);
                }
            }
            &:not(.steps) .navicon {
                &::before,
                &::after {
                    top: 0;
                }
            }
        } 
    }
  }

  // Navigation Links
  ul.menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out 0s;

    li {
      a {
        display: block;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 1.1em;
        transition: background-color .2s ease-out, color .2s ease-out;

        &:hover {
          transition: background-color .2s ease-out, color .2s ease-out;
        }
      }
    }
  }
}
