/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "partials/variables";

 body {
  overflow-x: hidden;
}

header {
background-image: url(hero-banner.jpeg);
background-color: $black-color;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;
  nav {
    height: 3em;
    z-index: 9999;
  }

  .container {
    h1 {
      color: #fff;
      z-index: 1;
    }
  }

  .d-flex {
    min-height: 7em;
  }
}

header::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black-color;
  opacity: .4;
  height: 10em;
}

main {
  min-height: 75vh;
}

footer {
background-color: $black-color;

  .cpyrght {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
